.DS_Store
Thumbs.db
*.log
*.bak
*.tmp
*.swp

node_modules/
npm-debug.log

vendor/
composer.lock

wp-admin/
wp-includes/
wp-config.php
wp-content/plugins/
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

wp-content/themes/*
!wp-content/themes/gp_test/

# Env
.env
.env.*
.env.local
